--- 
import BaseLayout from "../../layouts/BaseLayout.astro";
--- 

<BaseLayout title="Blog">
  <h2>Manuals</h2>
</BaseLayout>

<style>
  h2 {
    text-align: center;
    color: darkorange
  }
</style>