---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const pageTitle = "Writings";
const posts = await getCollection("writings");
---

<BaseLayout title="{pageTitle}">
  <h1>{pageTitle}</h1>

  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/writings/${post.id}`}>
          {post.data.title}
        </a>
      </li>
    ))}
  </ul>
</BaseLayout>
