---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Quest Grove</title>
	</head>
	<body>
        <a href="/">Home</a>
        <a href="/writings">Writings</a>
        <a href="/works">Works</a>

		<h1>The Quest Grove's collection of works.</h1>
        <h2>This is the second header.</h2>
        <p>This is the first paragraph.</p>            
	</body>
</html>
